.wrapper{
    margin: 0px;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, #66ccff 0%, #ff66cc 100%);
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.05));
    
    }
#background-img{
    position: absolute;
    /* width: 100%;
    height: 100%; */
    /* left: -1280px;
    top: -988px; */
    }
.form-wrapper{
    position: absolute;
    width: 440px;
    height: 520px;
    left: 800px;
    top: 50px;

    /* background: linear-gradient(157.3deg, #FFF9F9 1.71%, rgba(119, 3, 3, 0) 98.86%);
    border: 1px solid #FFF5F5;
    box-sizing: border-box;
    filter: drop-shadow(4px 8px 20px rgba(111, 15, 15, 0.05));
    border-radius: 45px; */

    /* background: linear-gradient(157.3deg, #FFF9F9 1.71%, rgba(119, 3, 3, 0) 98.86%);
    border: 1px solid #FFF5F5;
    box-sizing: border-box;
    filter: drop-shadow(4px 8px 15px rgba(111, 15, 15, 0.05));
    border-radius: 45px; */
    /* background: linear-gradient(157.3deg, #FBF6F6 1.71%, rgba(20, 19, 19, 0) 98.86%);
    border: 1px solid #FFF5F5;
    box-sizing: border-box;
    filter: drop-shadow(4px 8px 15px rgba(111, 15, 15, 0.05));
    border-radius: 45px; */
        /* background: linear-gradient(157.3deg, #FBF6F6 1.71%, rgba(20, 19, 19, 0) 98.86%);
        border: 1px solid #FFF5F5;
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(4px 8px 15px rgba(183, 168, 168, 0.05));
        border-radius: 45px; */

        background: linear-gradient(156.76deg, #FBF6F6 0%, #FBF6F6 0.01%, rgba(255, 203, 203, 0) 97.57%);
        border: 2px solid #FFF5F5;
        filter: drop-shadow(20px 40px 10px rgba(0, 0, 0, 0.05));
        border-radius: 45px;
        
}
#header{
    position: absolute;
    width: 200px;
    height:15px;
    left: 30px;
    top: -20px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 107px;

    color: #000000;
}
p{
    position: absolute;
    width: 344px;
    height: 60px;
    left: 30px;
    top: 70px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 36px;


    color: #000000;
}
/* your name */
#label1{
    position: absolute;
    width: 150px;
    height: 48px;
    left: 30px;
    top: 150px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
    
}
/* Email */
#label2{
    position: absolute;
    width: 150px;
    height: 48px;
    left: 30px;
    top: 250px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
/* Password */
#label3{
    position: absolute;
    width: 150px;
    height: 48px;
    left: 30px;
    top: 300px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
/* confirm password */
#label4{
    position: absolute;
    width: 100px;
    height: 48px;
    left: 30px;
    top: 350px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    text-align: left;

    color: #000000;
}
#phone{
    position: absolute;
    width: 150px;
    height: 48px;
    left: 30px;
    top: 190px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    text-align: left;

    color: #000000;
}
#Signup-btn{
    position: absolute;
    width: 100px;
    height: 47px;
    left: 310px;
    top: 430px;

    background: #6639E7;
    border-radius: 12px;
    font-size: 24px;
}
#signup-btn:focus{
    outline: none;
}
/* your name input box */
#input-box1{
    position: absolute;
    width: 250px;
    height: 30px;
    left: 160px;
    top: 160px;

    background: linear-gradient(91.41deg, #F4F4F4 -14.67%, rgba(255, 252, 252, 0) 85.33%);
    border: 1px solid #FFFEFE;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    font-size: 20px;
    padding: 16px;

}
/* email input b0x */
#input-box2{
    position: absolute;
    width: 250px;
    height: 30px;
    left: 160px;
    top: 250px;

    background: linear-gradient(91.41deg, #F4F4F4 -14.67%, rgba(255, 252, 252, 0) 85.33%);
    border: 1px solid #FFFEFE;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    font-size: 20px;
    padding: 16px;
    margin-top: 10px;
}
/* Password inbox */
#input-box3{
    position: absolute;
    width: 250px;
    height: 30px;
    left: 160px;
    top: 300px;

    background: linear-gradient(91.41deg, #F4F4F4 -14.67%, rgba(255, 252, 252, 0) 85.33%);
    border: 1px solid #FFFEFE;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    font-size: 20px;
    padding: 16px;
    margin-top: 10px;
}
/* confirm password input box */
#input-box4{
    position: absolute;
    width: 250px;
    height: 30px;
    left: 160px;
    top: 350px;

    background: linear-gradient(91.41deg, #F4F4F4 -14.67%, rgba(255, 252, 252, 0) 85.33%);
    border: 1px solid #FFFEFE;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    font-size: 20px;
    padding: 16px;
    margin-top: 20px;
}
#input-box1:focus{outline: none;}
#input-box2:focus{outline: none;}
#input-box3:focus{outline: none;}
#input-box4:focus{outline: none;}
#contactno:focus{outline: none;}
#contactno{
    position: absolute;
    width: 250px;
    height: 30px;
    left: 160px;
    top: 190px;

    background: linear-gradient(91.41deg, #F4F4F4 -14.67%, rgba(255, 252, 252, 0) 85.33%);
    border: 1px solid #FFFEFE;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    font-size: 20px;
    padding: 16px;
    margin-top: 20px;
}
@media only screen and (max-width: 600px){
    .wrapper{
        position: relative;
        width: 100vw;
        height: 100vh;
        
       
        background: linear-gradient(to bottom right, #66ccff 0%, #ff99cc 100%);
        }
   
    .form-wrapper{
        position: absolute;
        position: absolute;
        width: 325px;
        height: 520px;
        left:15px;
        top: 12px;

        /* background: linear-gradient(163.05deg, rgba(255, 221, 250, 0.53) 0%, rgba(197, 122, 255, 0.4187) 100%); */ 
        background: linear-gradient(344.85deg, #FF60EF 3.5%, #FCABFE 35.16%, #F0C4FF 55.62%, #57E7F0 100%);
        border: 1.5px solid #FFFFFF;
        box-shadow: 10px 14px 20px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
            
    }
    #header{
        position: absolute;
        width: 130px;
        height: 40px;
        left: 20px;
        top: -10px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;

        color: #000000;

    }
    p{
        position: absolute;
        width: 300px;
        height: 19px;
        left: 20px;
        top: 50px;

        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */


        color: #000000;
    }
    /* your name */
    #label1{
        position: absolute;
        width: 300px;
        height: 21px;
        left: 20px;
        top: 120px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        
        color: #000000;
        
        
    }
    /* Email */
    #label2{
        position: absolute;
        width: 189px;
        height: 30px;
        left: 20px;
        top: 190px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        
        color: #000000;
        
    }
    /* Password */
    #label3{
        position: absolute;
        width: 112px;
        height: 28px;
        left: 20px;
        top: 330px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        
        color: #000000; 
    }
    /* confirm password */
    #label4{
        position: absolute;
        width: 203px;
        height: 28px;
        left: 20px;
        top: 390px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;

        color: #000000;
    }
    #phone{
        position: absolute;
        width: 107px;
        height: 28px;
        left: 20px;
        top: 250px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;

        color: #000000;
    }
    #Signup-btn{
        position: absolute;
        width: 116px;
        height: 40px;
        left: 174px;
        top: 475px;

        background: rgba(25, 72, 239, 0.81);
        box-shadow: 8px 12px 20px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
    }
    #signup-btn:focus{
        outline: none;
    }
    /* your name input box */
    #input-box1{
        position: absolute;
        width: 268px;
        height: 25px;
        left: 20px;
        top: 150px;

        background: rgba(255, 234, 234, 0.64);
        border-radius: 4px;

    
    }
    /* email input b0x */
    #input-box2{
        position: absolute;
        width: 268px;
        height: 30px;
        left: 20px;
        top: 210px;
        
        background: rgba(255, 255, 255, 0.65);
        border-radius: 4px;
    }
    /* Password inbox */
    #input-box3{
        position: absolute;
        width: 257px;
        height: 30px;
        left: 20px;
        top: 350px;

        background: #EADBF5;
        border-radius: 4px;
    }
    /* confirm password input box */
    #input-box4{
        position: absolute;
        width: 268px;
        height: 30px;
        left: 20px;
        top: 410px;

        background: #E6C2FD;
        border-radius: 4px;
    }
    #input-box1:focus{outline: none;}
    #input-box2:focus{outline: none;}
    #input-box3:focus{outline: none;}
    #input-box4:focus{outline: none;}
    #contactno:focus{outline: none;}
    #contactno{
        position: absolute;
        width: 262px;
        height: 25px;
        left: 20px;
        top: 270px;
        
        background: rgba(247, 228, 255, 0.87);
        border-radius: 4px;
    }


}
@media only screen and (max-width: 720px) and (orientation: landscape){
    .wrapper{
        position: relative;
        width: 100vw;
        height: 100vh;
        
       
        background: linear-gradient(to bottom right, #66ccff 0%, #ff99cc 100%);
    }
    .form-wrapper{
        /* position: absolute; */
        position: absolute;
        width: 500px;
        height: 320px;
        left:50px;
        top: 20px;

        /* background: linear-gradient(163.05deg, rgba(255, 221, 250, 0.53) 0%, rgba(197, 122, 255, 0.4187) 100%); */ 
        background: linear-gradient(344.85deg, #FF60EF 3.5%, #FCABFE 35.16%, #F0C4FF 55.62%, #57E7F0 100%);
        border: 1.5px solid #FFFFFF;
        box-shadow: 10px 14px 20px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
    }
     #header{
        position: absolute;
        width: 130px;
        height: 40px;
        left: 10px;
        top: -20px;

        font-family: Roboto;
        font-style: normal;
        font-weight: 540;
        font-size: 30px;
        line-height: 42px;

        color: #000000;

    }
    p{
        position: absolute;
        width: 300px;
        height: 19px;
        left: 10px;
        top: 30px;

        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 19px;
        /* identical to box height */


        color: #000000;
    }
    /* your name */
    #label1{
        position: absolute;
        width: 300px;
        height: 21px;
        left: 10px;
        top: 75px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 28px;
        
        color: #000000;
        
        
    }
    /* Email */
    #label2{
        position: absolute;
        width: 189px;
        height: 30px;
        left: 10px;
        top: 110px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 28px;
        
        color: #000000;
        
    }
    /* Password */
    #label3{
        position: absolute;
        width: 112px;
        height: 28px;
        left: 10px;
        top: 150px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        
        color: #000000; 
    }
    /* confirm password */
    #label4{
        position: absolute;
        width: 203px;
        height: 28px;
        left: 10px;
        top: 180px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;

        color: #000000;
    }
    #phone{
        position: absolute;
        width: 107px;
        height: 28px;
        left: 10px;
        top: 220px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;

        color: #000000;
    }
    #Signup-btn{
        position: absolute;
        width: 116px;
        height: 40px;
        left: 174px;
        top: 270px;

        background: rgba(63, 215, 241, 0.651);
        box-shadow: 8px 12px 20px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
    }
    #signup-btn:focus{
        outline: none;
    }
    /* your name input box */
    #input-box1{
        position: absolute;
        width: 270px;
        height: 10px;
        left: 200px;
        top: 70px;

        background: rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        font-size: 16px;
        padding-top: 10;
    }
    /* email input b0x */
    #input-box2{
        position: absolute;
        width: 270px;
        height: 10px;
        left: 200px;
        top: 100px;
        
        background: rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        font-size: 16px;

    }
    /* Password inbox */
    #input-box3{
        position: absolute;
        width: 270px;
        height: 10px;
        left: 200px;
        top: 140px;

        background: rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        font-size: 16px;
    }
    /* confirm password input box */
    #input-box4{
        position: absolute;
        width: 270px;
        height: 30px;
        left: 200px;
        top: 170px;

        background: rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        font-size: 16px;
    }
    #input-box1:focus{outline: none;}
    #input-box2:focus{outline: none;}
    #input-box3:focus{outline: none;}
    #input-box4:focus{outline: none;}
    #contactno:focus{outline: none;}
    /* #input-box1:hover{outline:invert;}
    #input-box2:hover{outline: none;}
    #input-box3:hover{outline: none;}
    #input-box4:hover{outline: none;}
    #contactno:hover{outline: none;} */
    #contactno{
        position: absolute;
        width: 270px;
        height: 25px;
        left: 200px;
        top: 210px;
        
        background: rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        font-size: 16px;
    }
 

}